html {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  max-width: 48rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;
}

h1 {
  color: #225;
  font-size: 2.5rem;
}

p {
  margin: 0;
}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;

  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;

  background: midnightblue;
  cursor: pointer;
}

.btn:hover {
  background: darkslateblue;
}

.display-score {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 0.25rem;

  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;

  background-color: chocolate;
}

.player-score {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;

  background-color: #193ba1;
}
